/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */

body.navbar-is-fixed-top {
    padding-top: 60px!important;
}

.container {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.row {
    margin: 0;
}

.navbar .logo {
    margin-top: 8px;
}

.navbar-default {
    background-color: #fff;
}

.navbar-header {
    float: none;
}

.navbar-inner {
    min-height: 45px;
    background: #FFF;
}

.breadcrumb {
    display: none;

}

.jumbotron {
    padding-top: 15px;
    padding-bottom: 10px;
    background-color: #f6f6f6;
}

.jumbotron h1 {
    font-size: 24px;
}

#ribbon {
    width: 100%;
    height: 10px;
    background: url("../images/bg_header.png") repeat-x top left;
}

.results {
    background: white url("../images/roughcloth.png") repeat;
}

.results h2 {
    text-align: center;
}

.results h1 {
    text-align: center;
    font-size: 60px;
    padding: 60px 0 10px;
    line-height: 1;

}

.yashare-auto-init {
    text-align: center;
    margin-bottom: 40px;
}

#secondary-menu .links {
    margin-top: 18px;
}

#secondary-menu .nav > li {
    display: block;
    float: left;
    padding: 0;
}

#secondary-menu .nav > li > a {
    display: block;
    float: none;
    background: white ;
    border: 1px #000044 solid;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    margin: 0;
    margin-left: 40px;
    padding: 0;
    font: 0/0 serif;
    color: transparent;
}

#secondary-menu .nav > li:hover > a {
    background-color: #f6f6f6;
}

#secondary-menu .nav > li.active > a {
    background-color: #dedede;
}

form#mage-submit-ajax h3 {
    font-size: 36px;
    font-family: 'Century Gothic', "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    display: block;
    text-align: center;
    line-height: 1;
    padding: 30px 0 10px;
}

form#mage-submit-ajax fieldset {
    margin: 0;
    padding: 0;
    border: 0;
    margin-left: -30px;
    margin-right: -30px;
    position: relative;
    height: 100%;
    border-radius: 0;
    box-shadow: none;
}

form#mage-submit-ajax .form-control,
form#mage-submit-ajax .form-control:focus {
    height: auto;
    border: none;
    box-shadow: none;
}

form#mage-submit-ajax .ui-slider,
form#mage-submit-ajax fieldset {
    clear: both;
    text-align: center;
}

form#mage-submit-ajax .ui-widget-header {
    background: #77C4D3;
}

form#mage-submit-ajax .form-item-field-age-min,
form#mage-submit-ajax .form-item-field-price-min {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -440px;
}

form#mage-submit-ajax .form-item-field-age-max,
form#mage-submit-ajax .form-item-field-price-max {
    position: absolute;
    top: 50%;
    right: 50%;
    margin-right: -440px;
}

form#mage-submit-ajax .form-item-field-age-max input,
form#mage-submit-ajax .form-item-field-price-max input {
    text-align: right;
}

form#mage-submit-ajax .form-item-field-age-min input,
form#mage-submit-ajax .form-item-field-age-max input {
    border: 0;
    font-size: 120px;
    color: #F6F792;
    background: 0;
    cursor: default;
}

form#mage-submit-ajax #slider-price .ui-widget-header {
    background: #333745;
}

form#mage-submit-ajax .form-item-field-price-min input,
form#mage-submit-ajax .form-item-field-price-max input {
    border: 0;
    font-size: 72px;
    color: #EA2E49;
    background: 0;
    cursor: default;
}

form#mage-submit-ajax a.ui-slider-handle {
    cursor: pointer !important;
}

form#mage-submit-ajax a.anchor,
form#mage-submit-ajax #edit-submit {
    font-size: 36px;
    border: 0;
    background: 0;
    font-family: 'Century Gothic', "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    bottom: 2em;
    width: 200px;
    left: 50%;
    margin-left: -100px;
    color: black;
    display: block;
    text-decoration: none;
}

form#mage-submit-ajax .ajax-progress {
    position: absolute;
    color: #EDEDE2;
    bottom: 1.5em;
    width: 220px;
    margin-left: -110px;
    left: 50%;
}

/*form#mage-submit-ajax .fieldset-wrapper {
  padding-top: 200px;
}

form#mage-submit-ajax #edit-sex .fieldset-wrapper {
  padding-top: 50px;
}*/

/*form#mage-submit-ajax .form-item-field-occasion-23,
form#mage-submit-ajax .form-item-field-occasion-valentine,
form#mage-submit-ajax .form-item-field-occasion-love,
form#mage-submit-ajax .form-item-field-occasion-apologize {
  clear: both;
}*/

#headlights {
    margin: 0;
    padding: 85px 0 25px 0;
    height: 72px;
    background: white url(../images/topbar-bg.png) 0 100% repeat-x;
    min-width: 960px;
}


form#mage-submit-ajax #edit-field-activity .form-type-checkbox,
form#mage-submit-ajax #edit-field-interests .form-type-checkbox,
form#mage-submit-ajax #edit-field-occasion .form-type-checkbox {
    display: inline-block;
    margin: 1.5em;
}

form#mage-submit-ajax #edit-field-activity .form-type-checkbox input,
form#mage-submit-ajax #edit-field-interests .form-type-checkbox input,
form#mage-submit-ajax #edit-field-occasion .form-type-checkbox input,
form#mage-submit-ajax #edit-field-sex .form-type-radio input,
form#mage-submit-ajax #edit-field-relationship .form-type-radio input,
form#mage-submit-ajax #edit-field-astrological-sign .form-type-radio input {
    position: absolute;
    left: -9999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

form#mage-submit-ajax #edit-field-activity .form-type-checkbox label,
form#mage-submit-ajax #edit-field-interests .form-type-checkbox label {
    font-size: 26px;
    color: #333745;
}

form#mage-submit-ajax #edit-field-occasion .form-type-checkbox label {
    font-size: 26px;
    color: #EDEDE2;
}

form#mage-submit-ajax #edit-field-relationship .form-type-radio label {
    color: #77C4D3;
    font-size: 24px;
}

form#mage-submit-ajax #edit-field-activity .form-type-checkbox:hover label {
    border-bottom: 2px #EA2E49 dashed;
}

form#mage-submit-ajax #edit-field-activity .form-type-checkbox input:checked + label {
    border-bottom: 2px #EA2E49 solid;
}

form#mage-submit-ajax #edit-field-interests .form-type-checkbox:hover label {
    border-bottom: 2px #EA2E49 dashed;
}

form#mage-submit-ajax #edit-field-interests .form-type-checkbox input:checked + label {
    border-bottom: 2px #EA2E49 solid;
}

form#mage-submit-ajax #edit-field-occasion .form-type-checkbox:hover label {
    border-bottom: 2px #EA2E49 dashed;
}

form#mage-submit-ajax #edit-field-occasion .form-type-checkbox input:checked + label {
    border-bottom: 2px #EA2E49 solid;
}

form#mage-submit-ajax #edit-field-relationship .form-type-radio label.checked {
    color: #F6F792;
}

form#mage-submit-ajax #edit-submit {
    color: #EDEDE2;
    display: block;
    height: 82px;
    width: 82px;
    margin-left: -41px;
    background: url(../images/ok.png);
}

form#mage-submit-ajax #edit-submit:disabled {
    color: #EDEDE2;
}

form#mage-submit-ajax .ajax-progress .throbber {
    background: transparent url(../images/throbber_black.gif) no-repeat 0px 0px;
}

form#mage-submit-ajax label[for="edit-field-sex-male"] {
    background: white url(../images/man.png) no-repeat;
    width: 169px;
    height: 300px;
    display: inline-block;
    font: 0/0 serif;
    color: transparent;
}

form#mage-submit-ajax label[for="edit-field-sex-male"]:hover,
form#mage-submit-ajax input#edit-field-sex-male:checked + label {
    background-position: -169px 0px;

}

form#mage-submit-ajax label[for="edit-field-sex-female"] {
    background: white url(../images/woman.png) no-repeat;
    width: 205px;
    height: 300px;
    display: inline-block;
    font: 0/0 serif;
    color: transparent;

}

form#mage-submit-ajax label[for="edit-field-sex-female"]:hover,
form#mage-submit-ajax input#edit-field-sex-female:checked + label {
    background-position: -205px 0px;
}

form#mage-submit-ajax .form-item-field-sex {
    float: left;
    width: 49%;
    text-align: center;
}

form#mage-submit-ajax .form-item-field-relationship {
    display: inline-block;
    width: 300px;
}

form#mage-submit-ajax #slider-relationship {
    width: 600px;
    margin-left: -300px;
    left: 50%;
}

form#mage-submit-ajax #slider-price,
form#mage-submit-ajax #slider-age {
    width: 880px;
    margin-left: -440px;
    left: 50%;
    border: 1px #333745 solid;
}

form#mage-submit-ajax label {
    cursor: pointer;
}

form#mage-submit-ajax .form-wrapper {
    height: 700px;
}

/*#label-edit-field-relationship-2 {
  float: right;
}

#label-edit-field-relationship-0 {
  float: left;
}*/

form#mage-submit-ajax #edit-field-relationship {
    height: 30px;
    margin-bottom: 20px;
}

form#mage-submit-ajax #edit-age,
form#mage-submit-ajax #edit-relationship,
form#mage-submit-ajax #edit-occasion {
    background: url(../images/black-Linen.png) repeat;
}

form#mage-submit-ajax #edit-age h3,
form#mage-submit-ajax #edit-relationship h3,
form#mage-submit-ajax #edit-occasion h3 {
    color: #EDEDE2;
}

form#mage-submit-ajax #edit-age a,
form#mage-submit-ajax #edit-relationship a,
form#mage-submit-ajax #edit-occasion a {
    color: #EDEDE2;
}

form#mage-submit-ajax #edit-price,
form#mage-submit-ajax #edit-activity,
form#mage-submit-ajax #edit-interests {
    background: url(../images/roughcloth.png) repeat;
}

form#mage-submit-ajax #edit-field-astrological-sign-aries + label:hover,
form#mage-submit-ajax #edit-field-astrological-sign-taurus + label:hover,
form#mage-submit-ajax #edit-field-astrological-sign-leo + label:hover,
form#mage-submit-ajax #edit-field-astrological-sign-virgo + label:hover,
form#mage-submit-ajax #edit-field-astrological-sign-scorpio + label:hover,
form#mage-submit-ajax #edit-field-astrological-sign-sagittarius + label:hover,
form#mage-submit-ajax #edit-field-astrological-sign-capricorn + label:hover,
form#mage-submit-ajax #edit-field-astrological-sign-aquarius + label:hover,
form#mage-submit-ajax #edit-field-astrological-sign-pisces + label:hover,
form#mage-submit-ajax #edit-field-astrological-sign-aries:checked + label,
form#mage-submit-ajax #edit-field-astrological-sign-taurus:checked + label,
form#mage-submit-ajax #edit-field-astrological-sign-leo:checked + label,
form#mage-submit-ajax #edit-field-astrological-sign-virgo:checked + label,
form#mage-submit-ajax #edit-field-astrological-sign-scorpio:checked + label,
form#mage-submit-ajax #edit-field-astrological-sign-sagittarius:checked + label,
form#mage-submit-ajax #edit-field-astrological-sign-capricorn:checked + label,
form#mage-submit-ajax #edit-field-astrological-sign-aquarius:checked + label,
form#mage-submit-ajax #edit-field-astrological-sign-pisces:checked + label {
    background-position: -100px 0px;
}

form#mage-submit-ajax #edit-field-astrological-sign-gemini + label:hover,
    form#mage-submit-ajax #edit-field-astrological-sign-gemini:checked + label {
    background-position: -100px -3px;
}

form#mage-submit-ajax #edit-field-astrological-sign-cancer + label:hover,
form#mage-submit-ajax #edit-field-astrological-sign-cancer:checked + label {
    background-position: -102px 0px;
}

form#mage-submit-ajax #edit-field-astrological-sign-libra + label:hover,
form#mage-submit-ajax #edit-field-astrological-sign-libra:checked + label {
    background-position: -100px 2px;
}

form#mage-submit-ajax .form-item-field-astrological-sign {
    display: inline-block;
    width: 20%;
}

form#mage-submit-ajax .form-item-field-astrological-sign label {
    width: 100px;
    height: 100px;
    display: inline-block;
    font-size: 0;
    color: transparent;
    background-repeat: no-repeat;
}

form#mage-submit-ajax #edit-field-astrological-sign-aries + label {
    background-image: url(../images/Aries.png);
}

form#mage-submit-ajax #edit-field-astrological-sign-taurus + label {
    background-image: url(../images/Taurus.png);
}

form#mage-submit-ajax #edit-field-astrological-sign-gemini + label {
    background-image: url(../images/Gemini.png);
}

form#mage-submit-ajax #edit-field-astrological-sign-cancer + label {
    background-image: url(../images/Cancer.png);
}

form#mage-submit-ajax #edit-field-astrological-sign-leo + label {
    background-image: url(../images/Leo.png);
}

form#mage-submit-ajax #edit-field-astrological-sign-virgo + label {
    background-image: url(../images/Virgo.png);
}

form#mage-submit-ajax #edit-field-astrological-sign-libra + label {
    background-image: url(../images/Libra.png);
}

form#mage-submit-ajax #edit-field-astrological-sign-scorpio + label {
    background-image: url(../images/Scorpio.png);
}

form#mage-submit-ajax #edit-field-astrological-sign-sagittarius + label {
    background-image: url(../images/Sagittarius.png);
}

form#mage-submit-ajax #edit-field-astrological-sign-capricorn + label {
    background-image: url(../images/Capricorn.png);
}

form#mage-submit-ajax #edit-field-astrological-sign-aquarius + label {
    background-image: url(../images/Aquarius.png);
}

form#mage-submit-ajax #edit-field-astrological-sign-pisces + label {
    background-image: url(../images/Pisces.png);
}

form#mage-submit-ajax .form-checkboxes,
form#mage-submit-ajax .form-radios,
form#mage-submit-ajax .ui-slider {
    width: 100%;
    top: 50%;
}

form#mage-submit-ajax .ui-slider a:focus {
    outline: none;
}

form#mage-submit-ajax #secondary-menu .nav li.result {
    display: none;
}

form#mage-submit-ajax .ui-slider-horizontal {
    height: 16px;
}

form#mage-submit-ajax .ui-slider .ui-slider-handle {
    height: 24px;
    width: 24px;
    border: 1px solid black;
    background: #FFF;
}

form#mage-submit-ajax .ui-slider-horizontal .ui-slider-handle {
    margin-left: -12px;
    top: -5px;
}

